<div
  class="container-fluid d-flex justify-content-center align-items-center vh-100 bg-dark"
>
  <div class="card ">
    <div class="card-body p-5">
      <div class="d-flex justify-content-center align-items-center p-3">
        <img
          src="https://d25hn4jiqx5f7l.cloudfront.net/companies/logos/original/sidechat_1652734122.png?1652734122"
          width="80"
          alt="SideChat Logo"
        />
      </div>
      <h5 class="card-title">Welcome to SideChat</h5>
      <div class="text-center p-3 pt-5">
        <button
          type="button"
          class="btn btn-primary"
          (click)="loginWithAuth0()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
